@use "../assets/vars" as *
@use "../assets/mixins" as *

#home
  height: 100vh
  position: relative

  .pagination-button
    width: 90%
    margin: $unit1 auto

  .loading-animation
    position: fixed
    @include mq($breakpoint: md)
      top: 40%
      left: 40%

    top: 46%
    left: 46%