@use "../../assets/vars.sass" as *

#posts
  .comment-refiner
    background: #F2F2F2
    min-height: max-content

  .comment-refiner-content
    width: 100%
    min-height: max-content

    border-bottom: 1px solid #c8c8c8
    background: #F2F2F2

  .comment-content-area-expand
    height: max-content
    padding: 5px 0 5px 5px

  .comment-content-area-collapse
    height: 0px
    border-bottom: 0px solid white

  .comment-list-collapse
    display: none

  .view-comment-button
    padding: $unit-1
    border: 1px solid $shadow
    border-radius: $unit1