@use "../../assets/vars.sass" as *

#posts
  .comment-refiner
    background: $blue-hue
    min-height: max-content

    &__content
      width: 100%
      min-height: max-content
      border-radius: $unit-1
      border-bottom: 1px solid $grey
      background: $white

      &--expand
        height: max-content
        padding: 1px

      &--collapse
        height: 0px
        border-bottom: 0px solid $white

    &__list
      &--collapse
        display: none

  .view-comments-button
    cursor: pointer
    padding: $unit-1
    border: 1px solid $shadow
    border-radius: $unit-2